---
import PortableText from "../PortableText.astro"
import Rating from "../utils/Rating.astro"

const {content} = Astro.props
---
<section class="bg-zinc-300">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm">
      <h2 class="mb-4 text-6xl tracking-tight font-extrabold text-gray-900">{content?.title}</h2>
      <p class="mb-8 font-light text-gray-600 lg:mb-16 sm:text-xl">{content?.content}</p>
    </div>
    <div class="grid mb-4 lg:mb-12 lg:grid-cols-2 gap-8">
      {
        content.testimonials?.map((item:any) => (
        <figure class="flex flex-col justify-center items-center rounded-lg p-8 text-center bg-zinc-900 border-b border-gray-200 md:p-12 lg:border-r">
        <blockquote class="mx-auto mb-4 max-w-2xl text-gray-300">
          <h3 class="text-lg font-semibold text-accent-orange capitalize">{item.title}</h3>
          <div class="my-4">
            <PortableText portableText={item.review} />
          </div>
        </blockquote>
        <figcaption class="flex flex-wrap justify-center items-center space-x-3">
          <div class="w-full mb-4">
            <Rating rating={item?.rating} />
          </div>
          <div class="space-y-0.5 font-medium text-center text-gray-400 capitalize">
              <div>{item.customer}</div>
          </div>
        </figcaption>  
      </figure>
        ))
      }
      
    </div>
  </div>
</section>