---
import Navbar from '../components/Navbar.astro';
import Banner from '../components/nav/Banner.astro';
import Footer from '../components/sections/Footer.astro';
import MetaTags from '../components/utils/MetaTags.astro';
import { GetNavLinks } from '../lib/getNavLinks';
interface Props {
	title: string;
	meta: object;
	frontPage?: boolean;
}

const { title, meta, frontPage = false } = Astro.props;

const menu = await GetNavLinks()
---

<!doctype html>
<html lang="en">
	<head>
		<MetaTags pageTitle={title} metaData={meta} isFrontPage={frontPage} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-0Y3KQKR71B"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-0Y3KQKR71B');
		</script>
		<script is:inline type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"name": "75yr Footings",
			"url" : "https://75yrfootings.com",
			"image": "https://75yrfootings.com/_astro/75yrFootings-logo.QlFBDE79_2iNk0P.svg",
			"email": "info@75yrfootings.com",
			"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "+1-608-571-2721",
			"contactType": "Sales and Information",
			"areaServed": "US",
			},
		}
</script>
	</head>
	<body>
		<header class="fixed w-full z-20 top-0 start-0 h-[84px] lg:h-[120px]">
			<Banner class="banner text-zinc-400 flex justify-end w-full py-1 max-lg:hidden bg-black" />
			<Navbar menuItems={menu.mainMenu} />
		</header>
		<main class="mt-[83px] lg:mt-[120px]">
			<slot />
		</main>
		<Footer menuItems={menu.footerMenu} />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #ffffff;
	}
	.prose li {
    list-style: none;
  }
  .prose li::before {
    display: inline-block;
    margin: 0 0.5em;
    color: #9C2525;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%239C2525' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417L5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/%3E%3C/svg%3E");
  }
</style>
